:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
}
ion-card-title{
  text-align: center;
}

ion-fab.showExpandedViewFab {
  min-height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.app-vehicles {
  &.register-vehicle {
    position: relative;
    min-height: 50px;
    margin: 0 0 10px;
  }

}
