.app-vehicles {
  &.vehicle-display {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 100%;
  }
}

summary {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;

  .summary-container {
    display: inline-flex;
    width: calc(100% - 20px);
  }

  span {
    display: inline-flex;

    &.text {
      flex: 1 1 auto;
    }

    &.isDefaultIcon {
      flex: 0 0 auto;
      width: 20px;
      font-size: 1.5em;
      color: var(--ion-color-primary);
    }
  }
}

ul {
  margin: 0;
  padding: 0 10px;

  li {
    list-style: none;
  }
}

.more-data {
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      display: flex;
    }

    .property {
      font-weight: bold;

      &::after {
        content: ' :';
      }
    }
  }

  .vehicle-options {
    margin-bottom: 60px;

    ion-item {
      display: flex;
      flex-direction: column;

      &[help] {
        padding-right: 40px;

        div.description {
          display: inline-block;
        }

      }
    }
  }

  ion-fab-button.removeVehicleButton {
    --background: var(--ion-color-danger);
    width: 45px;
    height: 45px;
  }
}