.app-vehicles {
  &.vehicle-display {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

  }
}

summary {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;

}

ul {
  margin: 0;
  padding: 0 10px;

  li {
    list-style: none;
  }
}

.more-data {
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      display: flex;
    }

    .property {
      font-weight: bold;

      &::after {
        content: ' :';
      }
    }
  }

  ion-fab-button.removeVehicleButton {
    --background: var(--ion-color-danger);
    width: 45px;
    height: 45px;
  }
}