<details class="app-vehicles vehicle-display">
  <summary>
    <span class="text">{{vehicle.registrationNumber}}</span>
    <span class="isDefaultIcon" *ngIf="vehicle.isDefaultVehicle"><ion-icon name="checkmark-outline"></ion-icon></span>

  </summary>
  <div class="more-data">
    <div class="vehicle-properties">
      <ul>
        <li class="vehicle-make">
          <span class="property ">{{t('make') }}</span><span class="value">{{vehicle.make}}</span>
        </li>
        <li class="vehicle-model">
          <span class="property ">{{t('model') }}</span><span class="value">{{vehicle.model}}</span>
        </li>
        <li class="vehicle-vehicleYear">
          <span class="property ">{{t('vehicle-year') }}</span><span class="value">{{vehicle.vehicleYear}}</span>
        </li>
        <li class="vehicle-modelYear">
          <span class="property ">{{t('model-year') }}</span><span class="value">{{vehicle.modelYear}}</span>
        </li>
        <li class="vehicle-vehicleIdentificationNumber">
          <span class="property "> {{t('vehicle-identification-number') }}  ({{t('vehicle-identification-number-initials') }})</span><span
          class="value">{{vehicle.vehicleIdentificationNumber}}</span>
        </li>
        <li class="vehicle-countryCode">
          <span class="property ">{{t('country-code') }}</span><span class="value">{{vehicle.countryCode}}</span>
        </li>
      </ul>
    </div>
    <div class="vehicle-options">
      <ion-card>
        <ion-item class="toggle">
          <ion-label>{{t('set-as-default-vehicle.label')}}</ion-label>
          <ion-toggle [(ngModel)]="vehicle.isDefaultVehicle" (ionChange)="onSetAsDefaultToggleChange($event)"></ion-toggle>
        </ion-item>
        <ion-item help>
          {{t('set-as-default-vehicle.description')}}
        </ion-item>
      </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="showExpandedViewFab">
      <ion-fab-button (click)="onRemoveVehicleButtonClick()" class="removeVehicleButton">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</details>