div[wrapper] {
    position: relative;

    div[text] {
        top: 50%;
        bottom: auto;
        left: 50px;
        transform: translateY(-50%);
        font-size: 20px;
        position: absolute;
        font-weight: 100;
        line-height: 1;
        white-space: nowrap
    }
}