<ion-card class="app-vehicles manage-vehicles">
  <ion-card-header>
    <ion-card-title>
            {{t("vehicles")}}
     </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-spinner *ngIf="!hasFetchedData"></ion-spinner>
    <div  *ngIf="hasFetchedData" class="wrapper">
      <app-vehicle-vehicles-list
        *ngIf="vehicles && vehicles.length"
        [vehicles]="vehicles"
        [currentlyChargingVehicles]="currentlyChargingVehicles"
        (removeVehicle)="onRemoveVehicle($event)"
        (setVehicleAsDefault)="onSetVehicleAsDefault($event)"
        (unsetVehicleAsDefault)="onUnsetVehicleAsDefault($event)"
      >
        ></app-vehicle-vehicles-list>
      <p *ngIf="!vehicles?.length">No registered vehicles</p>
      <app-vehicle-register-vehicle *ngIf="showExpandedView" (registerVehicle)="onRegisterVehicle($event)"></app-vehicle-register-vehicle>

      <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="showExpandedViewFab" *ngIf="!showExpandedView">
        <ion-fab-button (click)="onShowExpandedViewButtonClick()" class="showExpandedViewButton">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-card-content>
</ion-card>