<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{t('title')}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form #form="ngForm" (ngSubmit)="reset(form)">
            <ion-item>
                <ion-label position="stacked">{{t('email.label')}}</ion-label>
                <ion-input [placeholder]="t('email.placeholder')" type="email" name="email" ngModel required>
                </ion-input>
            </ion-item>

            <ion-button expand="full" [disabled]="form.invalid" type="submit">{{t('reset')}}</ion-button>
        </form>
    </ion-card>
</ion-content>