.app-vehicles {
  &.vehicles-list {
    margin: 0 0 10px;
  }
}

app-vehicle-vehicle-display {
  display: flex;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}